* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

strong {
  color: var(--c13);
}

p {
  font-family: var(--ff-fira-sans);
}

:root {
  /* gray colors */
  --c1: #f5f5f5;
  --c2: #f0f0f0;
  --c3: #e0e0e0;
  --c4: #cccccc;
  --c5: #b8b8b8;
  --c6: #a3a3a3;
  --c7: #8f8f8f;
  --c8: #7a7a7a;
  --c9: #666666;
  --c10: #525252;
  --c11: #3d3d3d;
  --c12: #292929;
  --c13: #141414;

  --green_100: #ccf235;
  --green_200: #70da1c;
  --green_300: #6ab708;

  --ff-fira-sans: 'Fira Sans', sans-serif;

  font-size: 62.5%;
}

body {
  background-color: white;
}

main {
  height: 100vh;
  font-family: var(--ff-fira-sans);
}

.section-title {
  font-size: 14.4rem;
  line-height: 14.4rem;
  text-transform: uppercase;
  word-break: break-all;
  width: 4ch;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
  margin: 0 auto;
  padding: 0 2.4rem;
  max-width: 112rem;
  height: 6rem;
}

.header .header-menu {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.header .header-menu a {
  font-family: var(--ff-fira-sans);
  font-size: 1.8rem;
  color: var(--c13);
  padding: 1rem 2rem;
  display: block;
}

.header-menu a:hover {
  transition: 0.5s;
  font-weight: bold;
}

/*  home  */

.content-wrapper {
  padding: 10.5rem 0 0;
  max-width: 112rem;
  margin: 0 auto;
  padding: 0 2.4rem;

  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

#home {
  padding: 16rem 0 0;
  gap: 12rem;
}

#home img {
  object-fit: cover;
  object-position: center top;
  height: 100%;
}

.home-content {
  display: grid;
  gap: 3rem;
  position: relative;
}
.home-title {
  font-family: var(--ff-fira-sans);
  font-size: 7.2rem;
  line-height: 8rem;
  max-width: 14ch;
  color: var(--c13);
  word-break: break-word;
}

.home-title::before {
  content: '';
  position: absolute;
  width: 12rem;
  height: 2rem;
  background-color: var(--green_200);
  top: 1.7rem;
  left: -6rem;
  transform: rotate(130deg);
  z-index: -1;
}

.home-title::after {
  content: '';
  position: absolute;
  width: 12rem;
  height: 2rem;
  background-color: var(--green_100);
  top: 1.7rem;
  left: -3.6rem;
  transform: rotate(130deg);
  z-index: -2;
}

.home-content p {
  font-family: var(--ff-fira-sans);
  font-size: 2.4rem;
  color: var(--c10);
}

/*  experiencia  */

#experiencia {
  padding: 18rem 0;
  gap: 12rem;
  align-items: flex-start;
}

#experiencia .section-title {
  color: var(--c3);
}

.experiencia-content {
  display: grid;
  gap: 2rem;
}

.experiencia-content p {
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--c10);
}

.empresa {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--c1);
  border-radius: 5px;
  padding: 2rem;
  gap: 0 4rem;
}

.empresa::before {
  position: absolute;
  content: '';
  width: 4px;
  height: 20px;
  top: 20px;
  left: -4px;
  background: linear-gradient(180deg, #b6f829 0%, #67dd0a 100%);
}

.empresa .empresa-ano {
  position: absolute;
  top: 20px;
  left: -50px;

  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--c10);
}

.empresa .empresa-titulo {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  color: var(--c13);
  margin-bottom: 1rem;
}

.empresa .empresa-texto {
  font-size: 1.4rem;
  line-height: 2rem;

  color: var(--c10);
}

.empresa .empresa-habilidade {
  display: flex;
  flex-wrap: wrap;
  gap: 0 8px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.empresa-habilidade li {
  background: #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
}

/* formacao */

#formacao {
  padding: 12rem 2.4rem;
  background-color: var(--c12);
  position: relative;
}

#formacao .content-wrapper {
  padding: 0;
  position: relative;
}

#formacao .content-wrapper::before {
  content: url('../assets/detalhe.svg');
  position: absolute;
  bottom: -180px;
  left: 0px;
  z-index: 2;
}

.formacao-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.formacao-content p {
  grid-column: 1/-1;
  font-size: 24px;
  line-height: 32px;

  color: #a3a3a3;
}

.formacao-content strong {
  color: white;
}

.formacao-card {
  margin-top: 6rem;
  display: grid;
  background-color: black;
  padding: 2rem;
  width: 20rem;
  border-radius: 5px;
  position: relative;
}

.formacao-card::before {
  position: absolute;
  content: '';
  width: 4px;
  height: 20px;
  background: linear-gradient(180deg, #b6f829 0%, #67dd0a 100%);
  top: 20px;
  left: -4px;
  z-index: 2;
}

.formacao-tipo {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: var(--c6);
}

.formacao-curso {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  color: #ffffff;

  margin: 1.5rem 0 4rem;
}

.formacao-escola {
  font-size: 18px;
  line-height: 20px;

  color: var(--c6);
}

.cursos-content {
  grid-column: 1/-1;
}

.cursos {
  width: 100%;
  margin-top: 58px;
  position: relative;
}

.cursos .cursos-icon {
  position: absolute;
  top: 0px;
  left: -40px;
}
.cursos .cursos-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--c6);
  display: inline-block;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.cursos .cursos-tipo {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cursos .cursos-nivel {
  font-size: 18px;
  line-height: 20px;
  color: var(--c7);
}

.cursos .cursos-duracao {
  font-size: 18px;
  line-height: 20px;
  color: var(--c7);
}

.cursos .idioma-tipo {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
  color: #ffffff;
}

.cursos .idioma-nivel {
  color: #8f8f8f;
}

/* footer */

footer {
  background-color: black;
  color: white;
}

footer .content-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  margin: 0 auto;
  padding: 105px 24px;
  position: relative;
}

.footer-text {
  font-size: 24px;
  line-height: 32px;
  color: #cccccc;
  width: 40ch;
}

.footer-contato {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  display: grid;
  gap: 20px;
  color: #ffffff;
}

.direitos {
  position: absolute;
  bottom: 10px;
  left: 24px;
  font-size: 18px;
  line-height: 32px;

  color: #8f8f8f;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 4rem;
  }

  .header a {
    background-color: var(--c1);
    border-radius: 5px;
    border-bottom: 3px solid transparent;
  }

  .header a:hover {
    font-weight: 400;
    transition: 0.8s;
    border-color: #70da1c;
  }

  #home {
    display: flex;
    flex-direction: column;
    margin-top: 14rem;
    padding: 0 4rem;
  }

  .home-title {
    font-size: 5rem;
  }

  #home img {
    padding: 0 8rem;
  }

  #experiencia {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  #experiencia .section-title {
    font-size: 4rem;
    line-height: 5rem;
    color: var(--c12);
    text-transform: capitalize;
    width: 100%;
  }

  .empresa {
    grid-template-columns: 1fr;
  }

  .empresa .empresa-habilidade {
    margin: 10px 0;
  }

  .empresa .experiencia-content p {
    font-size: 1.6rem;
  }

  .empresa .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }

  .empresa-ano::before {
    content: 'Ano: ';
  }

  .formacao-content {
    grid-template-columns: repeat(auto-fit, 220px);
  }

  footer .content-wrapper {
    flex-direction: column;
  }

  .footer-text,
  .footer-contato {
    width: fit-content;
    word-break: break-all;
    font-size: 1.6rem;
  }
}
@media (max-width: 1000px) {
  #formacao .content-wrapper {
    grid-template-columns: 1fr;
  }

  #formacao .section-title {
    font-size: 4rem;
    line-height: 5rem;
    text-transform: capitalize;
    width: 100%;
  }

  #formacao {
    padding: 14rem 48px;
  }

  .formacao-content p {
    font-size: 1.8rem;
  }
}
