img {
  max-width: 100%;
}

#galeria {
  max-width: 600px;
  margin: 0 auto;
}

#galeria ul {
  cursor: pointer;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  gap: 10px;
  margin-bottom: 10px;
}
