* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
body {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  margin: 40px 0 20px;
  text-align: center;
}

.content {
  background: #111;
  padding: 30px;
  color: white;
  margin-bottom: 15px;
  border-radius: 5px;
}

h2 {
  margin-bottom: 10px;
}

span {
  color: #febe01;
}

p {
  color: #b2b2b2;
  margin-bottom: 10px;
}

button {
  background-color: #febe01;
  color: #332200;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}
