* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

/* geral */

body {
  font-family: 'Roboto Mono', monospace;
  background: #f7f7f7;
  display: grid;
  gap: 6rem;
  justify-items: center;
}

img {
  max-width: 100%;
  display: block;
}

main {
  margin-top: 6rem;
  width: 90rem;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p,
a {
  font-size: 1.8rem;
  line-height: 1.3;
}

/* menu nav */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4.8rem 0 0;
}

header .logo-bikcraft {
  width: 16rem;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 4.8rem 0 0;
}

.menu ul li a {
  font-size: 2rem;
  cursor: pointer;
  background: #ffffff;
  padding: 1.5rem 3rem;
  border-radius: 4px;
  color: #000000;
  text-transform: uppercase;
  display: block;
  border: 2px solid #ffffff;
}

.menu ul li a:hover {
  border: 2px solid red;
}

/* content */

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100rme;
}

.introducao {
  background: #fff;
  padding: 4rem;
  text-align: right;
  position: relative;
  display: grid;
  gap: 2rem;
  align-content: center;
  justify-items: end;
}

.introducao h1 {
  font-size: 2.5rem;
}

.introducao h1::before {
  content: '';
  width: 6rem;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 3rem;
  right: -3rem;
}

.botao {
  background: #e21;
  color: #fff;
  padding: 1.5rem 3rem;
  border-radius: 4px;
  text-transform: uppercase;
}

.botao:hover {
  transition: 0.4s;
  background: rgb(138, 20, 10);
}

.bikes {
  background-image: url('./img/bicicleta.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  align-self: center;
}

.title .subtitulo {
  font-size: 6.4rem;
  text-transform: uppercase;
  color: rgb(165, 165, 165);
  text-align: right;
  padding: 4rem;
  align-self: center;
  text-shadow: 6px 4px 15px rgba(0, 0, 0, 0.466);
}

.vantagens {
  background: #fff;
  padding: 4rem;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem 2rem;
  padding: 2rem;
  border-left: 3px solid transparent;
}

.vantagens-item:nth-child(odd) {
  background-color: #ebebeb9d;
}

.vantagens-item:hover {
  border-color: red;
}

.vantagens-item h3 {
  font-size: 1.8rem;
}

.vantagens-item p {
  grid-column: 2;
}

.rodape {
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 4rem;
  box-sizing: border-box;
}
