* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

:root {
  /* cores */
  --cinza: #f7f7f7;
  --cinza-escuro: #c6c6c6;
  --vermelho: #ee2211;

  /* Tipografia 
    paragrafos 20px
    vantagens bikcraft: 64px
  */

  --ff: Arial, Helvetica, sans-serif;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 24px;
  height: 100vh;
  display: grid;
  justify-items: center;
  background: var(--cinza);
}

.logo-bikcraft {
  margin: 48px 0;
}
